.DS_Store
.dart_tool/

.packages
.pub/

build/

# ignore windows build files
windows/src/*.exe
windows/src/*.obj
windows/src/*.dll
windows/src/*.a
windows/src/*.lib
windows/src/*.o
windows/src/*.exp
windows/src/*.def
windows/src/*.pdb

# ignore macos build files
macos/Classes/*.o
macos/Classes/*.dylib

# ignore linux build files
linux/*.o
linux/*.so

# ignore mecab web binary
example/blobs/*
!example/blobs/.gitkeep

# testing assets
assets/**
!assets/.gitkeep

# wasm
example/assets/**
!example/assets/.gitkeep
emcc_out/**
!emcc_out/.gitkeep
