.DS_Store
.dart_tool/

.packages
.pub/

build/

# ignore build files
src/**/*.exe
src/**/*.obj
src/**/*.dll
src/**/*.a
src/**/*.lib
src/**/*.o
src/**/*.exp
src/**/*.def
src/**/*.pdb
src/**/*.dylib

# ignore mecab web binary
example/blobs/*
!example/blobs/.gitkeep

# testing assets
assets/**
!assets/.gitkeep

# wasm
example/assets/**
!example/assets/.gitkeep
emcc_out/**
!emcc_out/.gitkeep
